<div class='container'>

  <h1>BackbonePlay</h1>

  <form id='new_entry' class='form-search'>
    <input type='text' name='name' id='new_entry_name'>
    <input type='submit' value='Add' class='btn btn-primary'>
  </form>

  <table class='table table-bordered table-condensed table-striped'>
    <thead>
      <tr>
        <th>Users</th>
        <th>Winner?</th>
      </tr>
    </thead>
    <tbody id='entries'>
    </tbody>
  </table>

  <button id='draw' class='btn btn-primary'>Draw Winner</button>
</div>
